[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-icdiff = "*"
mypy = "*"
requests = "*"
redis = "*"

[packages]
tenacity = "*"
sqlalchemy = "*"
flask = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
