[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
requests = "*"
SQLAlchemy = "*"
Flask = "*"
redis = "*"
tenacity = "*"

[dev-packages]
pytest = "*"
pytest-icdiff = "*"
mypy = "*"

[requires]
python_version = "3.9"
