[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"

[packages]
pymongo = "*"
psycopg2-binary = "*"
flask = "*"
sqlalchemy = "*"

[requires]
python_version = "3.9"
